$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$screen-sm-max: 575px;
$screen-md-max: 767px;
$screen-lg-max: 991px;
$screen-xl-max: 1199px;
$screen-xxl-max: 1299px;
$screen-xxxl-max: 1399px;

@mixin sm {
    @media screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
        @content;
    }
}

@mixin md {
    @media screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) {
        @content;
    }
}

@mixin lg {
    @media screen and (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max}) {
        @content;
    }
}

@mixin xl {
    @media screen and (min-width: #{$screen-xl-min}) and (max-width: #{$screen-xl-max}) {
        @content;
    }
}
// media lt queries
@mixin lt-sm {
    @media screen and (max-width: #{$screen-sm-max}) {
        @content;
    }
}

@mixin lt-md {
    @media screen and (max-width: #{$screen-md-max}) {
        @content;
    }
}

@mixin lt-lg {
    @media screen and (max-width: #{$screen-lg-max}) {
        @content;
    }
}

@mixin lt-xl {
    @media screen and (max-width: #{$screen-xl-max}) {
        @content;
    }
}

@mixin lt-xxl {
    @media screen and (max-width: #{$screen-xxl-max}) {
        @content;
    }
}

@mixin lt-xxxl {
    @media screen and (max-width: #{$screen-xxxl-max}) {
        @content;
    }
}
// media gt queries

@mixin gt-sm {
    @media screen and (min-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin gt-md {
    @media screen and (min-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin gt-lg {
    @media screen and (min-width: #{$screen-xl-min}) {
        @content;
    }
}
/////// RUBIK /////////////////////////////////////////////////////////
@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Light.woff2') format('woff2'),
        url('../fonts/Rubik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Bold.woff2') format('woff2'),
        url('../fonts/Rubik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

////// ARIAL //////////////////////////////////////////////////
@font-face {
    font-family: 'Arial';
    src: url('../fonts/ArialMT.woff2') format('woff2'),
        url('../fonts/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial-BoldMT.woff2') format('woff2'),
        url('../fonts/Arial-BoldMT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

//////////// MART FAT ///////////////////////////////////////////
@font-face {
    font-family: 'Mart-Fat';
    src: url('../fonts/Mart-Fat.woff2') format('woff2'),
        url('../fonts/Mart-Fat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
////////////////////////////////////////////////////////////////

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Rubik";
  overflow-x: hidden;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  padding: 0;
  color: black;
}

.page-width {
    max-width: 1500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    
    @media only screen and (max-width: 1600px) {
        max-width: 80%;
    }
    @media only screen and (max-width: 900px) {
        max-width: 90%;
    }
}

$blue: #344981;
$red: #FF0000;
a {text-decoration: none;}
svg, button {cursor: pointer;}
ul {list-style: none;}
.dis-flex {
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Mart-Fat';
    font-size: 36px;
    line-height: 45px;
    font-weight: 400;
    color: #fff;
}



